{% extends "./base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block main %}

    <h1>{% trans %}Homepage.title{% endtrans %}</h1>

    <p>{% trans %}Hello.people{% endtrans %}</p>

    <div id="article">

        <p>{{ article|raw }}</p>

    </div>


{% endblock main %}