{% extends "./base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block main %}

    <h1>{{ title|stars }}</h1>

    <p>Hello, people of free world.</p>

    <div id="article">

        <p>{{ article|raw }}</p>

    </div>

{% endblock main %}