*{
    padding: 0;
    margin: 0;
}
body{
    //height: 100%;
    color: rgb(225, 223, 177);
    font-family: "MV Boli";
    background:  url('../images/back.jpg') no-repeat top fixed black;
}
#wrapper{
    //color: rgb(225, 223, 177);
    //min-height: 90%;
    //margin-bottom: -50px;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow : 0 0 10px rgba(225, 223, 177, 0.4);
}

div#div_locale_form{
    display: none;
}
/*#wrapper{
    margin: 1% auto;
}
body, #wrapper{
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}
html{
    height: 100%;
    color: rgb(225, 223, 177);
    font-family: "MV Boli";
    background:  url('../images/back.jpg') no-repeat top fixed black;
}

h1{
    text-align: center;
}

div#wrap{
    background-color: rgba(0, 0, 0, 0.32);
    color: #f0e6bb;
}



/* Nav */

/*div#nav{
    width: 50px;
    height: 50px;
    float:right;
    margin-right: -53px;
    background-color: rgba(249, 255, 253, 0);
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

div#nav a{
    text-decoration: none;
    color: rgb(225, 223, 177);
    font-family: "MV Boli";
}

/* end Nav */

/*Icon*/

/*div#favicon{
    width: 50px;
    height: 50px;
    float:left;
    margin-left: -53px;
    background-color: rgba(249, 255, 253, 0);
    //box-shadow : 0 0 10px rgba(241, 255, 244, 0.5);
}
div#favicon a img{
    width: 100%;
    height: 100%;
}

div.favicon{
    height: 50px;
}


/*end Icon*/
/*Main divs*/
/*#main{
    color: rgb(225, 223, 177);
    min-height: 90%;
    margin-bottom: -50px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow : 0 0 10px rgba(225, 223, 177, 0.4);
}
/*end Main divs*/


